<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: dynamic_layout(~{::body})}">
<body>
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4 text-primary border-bottom pb-2">Danh sách tin tức mới nhất</h2>
        <div class="alert alert-success shadow-sm" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            Giao diện Thymeleaf Layout tĩnh kết hợp Bootstrap của bạn đã hoạt động chính xác!
        </div>

        <p class="text-muted">Đây là trang nội dung tĩnh được nhúng vào bên trong Layout dùng chung.</p>
    </div>
</div>
</body>
</html>